<div class="container">
  <button (click)='handleSubmit()'>Items</button>
  <hr />
  <div class="text-right row">
    <!-- <a href=""  id="{{itm.itemId}}">{{itm.itemName | uppercase }}</a> -->

    <div class="row col-12">
      <div class="col-4" *ngFor="let itm of res">
        <!-- <a href=""   (click)='handleTest(itm.itemId.value)' #itemId>{{itm.itemName | uppercase }}</a> -->
        <button value="{{itm.itemId}}" (click)='handleTest(itemId.value)' #itemId>{{itm.itemName | uppercase}}</button>

      </div>
      <hr />

      <!-- <td><input type="text" [value]="testvalue"
          formControlName='productName1'>testvalue</td> -->
      <div class="col-8 container text-right">
        <!-- {{prds.productName}} 
        <input type="checkbox" > 
        price : {{prds.price}} -->
        <div class="container" *ngIf="tab">

          <table class="table table-bordered">
            <thead>
              <tr>
                <th><input type="checkbox" name="prdct" (click)="checkuncheckall()"> select All</th>
                <th>ProductName</th>
                <th>Product Price</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let prds of products"  (click)='handleCart(prds.productName,prds.price,prds.productId)'>
                <td><input type="checkbox" [checked]="isChecked"></td>
                <td><input type="text" hidden>{{prds.productName}}</td>
                <td><input type="number" hidden>{{prds.price}}</td>
              </tr>
            </tbody>
          </table>
         

        </div>
      </div>

    </div>
  </div>
  <div>
    <!--   
    <div class="container text-right"  *ngIf='msg'>
      <button>addCart</button> 
    </div> -->
  </div>

  <div class="row">

  </div>

</div>

<router-outlet></router-outlet>