<div>
    {{res}}
    {{cartItems | json}}
</div>

<!-- <div>
    <table class="table table-bordered">
        <thead>
            <tr>

                <th>Sl.No</th>
                <th>Name</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let prds of cartItems">
            <td>{{prds.productId}}</td> 
            <td>>{{prds.productName | uppercase}}</td>
            <td>{{prds.price | currency:"INR"}}</td>
          </tr>
        </tbody>
      </table>
</div> -->