<div class="row d-flex justify-content-center align-items-center">

    <div class="col-md-8 ">
        <!-- {{prds.productName}} 
      <input type="checkbox" > 
      price : {{prds.price}} -->
        <!-- <div class="container" > -->
            <h3>Items List</h3>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th><input type="checkbox" name="prdct" > select All</th>
                <th>Sl.No</th>
                <th>Name</th>
                <th>Price</th>
              </tr>
            </thead> 
            <tbody>
              <tr *ngFor="let prds of products index as i">
                <td><input type="checkbox"></td>
                <td>{{i+1}}</td>
                <td><input type="text" hidden name='{{prds.productName}}' [value]="prds.productName"
                   >{{prds.productName | uppercase}}</td>
                <td><input type="number"  hidden value="{{prds.price}}" >{{prds.price | currency:"INR"}}</td>
               
              </tr>
            </tbody>
          </table>
          <!-- <div col-md-2>
            offers
        </div> -->
        </div>
        

      <!-- </div> -->
      <div class="container text-center" >
        <input type='submit' value='Add'>
      </div>
    
</div>